body {
	background-color: rgb(254, 222, 237);
	font-family: Monospace;
}

.display-3 {
	font-family: sans-serif;
}

h1 {
	font-size: 35px;
}
h2 {
	position: absolute;
	padding: 20px;
	margin-left: 500px;
}

.jumbotron {
	background-color: rgb(250, 212, 243);
	background-image: url("../images/yellow-and-blue-flowers.jpg");
}

.form-control {
	background-color: rgb(254, 222, 237)
}

.navbar {
	background-color: white;
}

.btn {
	background-color: pink;
}

.btn:hover {
	background-image: url("../images/yellow-and-blue-flowers.jpg")
}

.first {
	height: 15%; 
	width: 18%;
	border: black 2px solid;
	margin: 10px;
	padding: 20px;
}
.second {
	height: 100%; 
	width: 70%;
	border: black 2px solid;
	margin: 10px;
	padding: 20px;
}
.third {
	height: 15%; 
	width: 20%;
	border: black 2px solid;
	margin: 10px;
	padding: 20px;
}
.fourth {
	height: 15%; 
	width: 20%;
	border: black 2px solid;
	margin: 10px;
	padding: 20px;
}
.fith {
	height: 15%; 
	width: 20%;
	border: black 2px solid;
	margin: 10px;
	padding: 20px;
}
.sixth {
	height: 15%; 
	width: 20%;
	border: black 2px solid;
	margin: 10px;
	padding: 20px;
}

