body {
	background-color: rgb(254, 222, 237);
	/*background-image: url("../images/floral-leaves.jpg");*/
    /*background-repeat: no-repeat;*/
	font-family: Monospace;
}

.display-3 {
	font-family: sans-serif;
}

h1 {
	font-size: 35px;
}
h2 {
	position: absolute;
}

.jumbotron {
	background-color: rgb(250, 212, 243);
	background-image: url("../images/yellow-and-blue-flowers.jpg");
}

.form-control {
	background-color: rgb(254, 222, 237)
}

.navbar {
	background-color: white;
}

.btn {
	background-color: pink;
}

.btn:hover {
	background-image: url("../images/yellow-and-blue-flowers.jpg")
}
